In [1]:
# Import libraries
import pandas as pd

In [2]:
# Load data to a DataFrame
data = pd.read_csv("monthly_crsp.csv")
display(data)

,PERMNO,HdrCUSIP,CUSIP,Ticker,TradingSymbol,PERMCO,SICCD,NAICS,MthCalDt,MthRet,sprtrn
0,10000,68391610,68391610,OMFGA,OMFGA,7952,3990,0,1986-01-31,0.707317,0.002367
1,10000,68391610,68391610,OMFGA,OMFGA,7952,3990,0,1986-02-28,-0.257143,0.071489
2,10000,68391610,68391610,OMFGA,OMFGA,7952,3990,0,1986-03-31,0.365385,0.052794
3,10000,68391610,68391610,OMFGA,OMFGA,7952,3990,0,1986-04-30,-0.098592,-0.014148
4,10000,68391610,68391610,OMFGA,OMFGA,7952,3990,0,1986-05-30,-0.222656,0.050229
...,...,...,...,...,...,...,...,...,...,...,...
5179737,93436,88160R10,88160R10,TSLA,TSLA,53453,9999,336110,2024-08-30,-0.077390,0.022835
5179738,93436,88160R10,88160R10,TSLA,TSLA,53453,9999,336110,2024-09-30,0.221942,0.020197
5179739,93436,88160R10,88160R10,TSLA,TSLA,53453,9999,336110,2024-10-31,-0.045025,-0.009897
5179740,93436,88160R10,88160R10,TSLA,TSLA,53453,9999,336110,2024-11-29,0.381469,0.057301
5179741,93436,88160R10,88160R10,TSLA,TSLA,53453,9999,336110,2024-12-31,0.170008,-0.024990

We are going to work with CUSIPs instead of Tickers as a single ticker can have multiple sic codes.

In [3]:
# Filter data for only after January 1, 2000
data['MthCalDt'] = pd.to_datetime(data['MthCalDt'])
data_after_2000 = data[(data['MthCalDt'] >= '2000-01-01')]

# Select agricultural and food stocks
subset_1 = data_after_2000[(data_after_2000['SICCD'] >= 100) & (data_after_2000['SICCD'] < 1000)] #agriculure
subset_2 = data_after_2000[(data_after_2000['SICCD'] >= 5411) & (data_after_2000['SICCD'] < 5412)] #grocery stores
subset_3 = data_after_2000[(data_after_2000['SICCD'] >= 5812) & (data_after_2000['SICCD'] < 5813)] #eating places
subset_4 = data_after_2000[(data_after_2000['SICCD'] >= 5499) & (data_after_2000['SICCD'] < 5500)] #miscellaneous food stores
# subset_5 = data_after_2000[(data_after_2000['SICCD'] >= 2000) & (data_after_2000['SICCD'] < 3000)] #food and kindred products

# Create a DataFrame with only agricultural and food stocks
food_data = pd.concat([subset_1, subset_2, subset_3, subset_4]).reset_index(drop=True)

food_data #18636 rows

,PERMNO,HdrCUSIP,CUSIP,Ticker,TradingSymbol,PERMCO,SICCD,NAICS,MthCalDt,MthRet,sprtrn
0,11614,66649910,66649910,CBRYA,CBRYA,9437,170,0,2000-01-31,0.070056,-0.050904
1,11614,66649910,66649910,CBRYA,CBRYA,9437,170,0,2000-02-29,0.024510,-0.020108
2,11614,66649910,66649910,CBRYA,CBRYA,9437,170,0,2000-03-31,-0.167464,0.096720
3,11614,66649910,66649910,CBRYA,CBRYA,9437,170,0,2000-04-28,-0.333333,-0.030796
4,11614,66649910,66649910,CBRYA,CBRYA,9437,170,0,2000-05-31,0.104983,-0.021915
...,...,...,...,...,...,...,...,...,...,...,...
18631,93071,92849E10,92849E10,VSI,VSI,53239,5499,446191,2016-06-30,0.010913,0.000906
18632,93071,92849E10,92849E10,VSI,VSI,53239,5499,446191,2016-07-29,-0.042852,0.035610
18633,93071,92849E10,92849E10,VSI,VSI,53239,5499,446191,2016-08-31,-0.052632,-0.001219
18634,93071,92849E10,92849E10,VSI,VSI,53239,5499,446191,2016-09-30,-0.031385,-0.001234
18635,93071,92849E10,92849E10,VSI,VSI,53239,5499,446191,2016-10-31,-0.067039,-0.019426

In [4]:
# Create a list with the CUSIP of agricultural and food stocks
food_cusip_list = food_data['CUSIP'].unique().tolist()
print(food_cusip_list)

['66649910', '01623010', '92928610', '76117W10', 'L0084910', '10554B10', '68620A10', '56824R20', '81761R10', '88087E10', '05882210', '91345610', '72814N10', '10948C10', '22052L10', '57632310', '12803020', '22113B10', '53960E20', '38867H10', '04420410', '04420910', '96216610', '25660510', '87908010', '11044810', '55307U10', '66390410', '87137110', '60052030', '92209910', '92209920', '92209930', '73285710', '92551410', '29081710', '81018610', '24735710', '33932440', '33932480', '88065X20', '80517510', '04939110', '04940820', '09063Q10', '27885810', '22640610', '80640310', '45646310', 'G3673810', '12753710', '12753720', '90297710', '68210P10', '39823110', '45580R10', '43324510', '81665810', '87160A10', '33932470', '33932487', '88065X30', '91819410', '12824610', 'G4412G10', 'G6782810', 'G6782820', '02533410', '40426A20', '00846L10', 'G2534310', '00850H10', '71581310', '16945310', '31573A10', '72147K10', '90457130', '63888U10', '86923910', '86765K10', '85208M10', '83190B10', '50104410', '20440T30', '01309110', '81689T10', '97428010', 'G0896C10', '42227T10', '39006410', '23386010', nan, '94884910', '86853610', '86853630', '34482010', '01310410', '57178330', '78125810', '41458510', '39863510', '81274410', '78651420', '50046730', '50046740', '57178320', '81782620', '96683710', '92710740', '80223310', '09605510', '02051Q10', '02051Q20', '21238A20', '86845310', '25475310', '86851120', '30243M10', '69865710', '23386020', '23386030', '24668810', '24668820', '53619110', '70322A10', '29759W10', '86923310', '97428030', '59000K10', '08204720', '22238M10', 'G0457F10', '98581710', '12122010', '03852U10', '98979J10', '26860310', '94419L10', '76131D10', '81904710', '46609J10', '85238720', '85238730', '85238740', '85238750', '85238760', '98850P10', '13765N10', '08204710', '08986R40', '92552R10', '95058710', '95058W10', '87043Q10', '10964110', '14892910', '92338C10', '83419D20', '20979810', '85787310', '85787320', '08986R10', '08986R30', '22410J10', '41078310', '58013510', '91890510', '12561E10', '57790310', '33851710', '78118210', '83013910', '98160A10', '62936030', '35874810', '71956710', '95059010', '54928210', '61690020', '46609610', '78351910', '78352010', '82503910', '12513710', '21628420', '16090210', '87224510', '38214087', '56034530', '68989910', '67104A10', '44962310', '25442310', '46636710', '61942910', '05635W10', '28619920', '51508L10', '75419810', '87217310', '92581710', '71913210', '90331R10', '95954220', '23719410', '23833N10', '36111560', '28257U10', '61845910', '25367520', '05551A10', '44926L30', '89595310', '98849810', '85508610', '35849710', '73316740', '11988210', '68386P10', '50101410', '13054D10', '00104Q10', '73287210', '10782M10', '83175810', '38724Q10', '38724Q40', '03852110', '83379210', '75689M10', '22122P10', '22122P20', '11984810', '25754A20', '57979310', '88268110', '50047H20', '78333210', '16965610', '61943010', '88706M10', '12120820', '16965620', '14574X10', '36191G10', '15132H10', '40011010', '26414D10', '26701L10', '02028M10', '87182910', '92849E10']

In [5]:
# Look for number of missing values per column
food_data.isna().sum()

PERMNO              0
HdrCUSIP            0
CUSIP               3
Ticker            214
TradingSymbol    1520
PERMCO              0
SICCD               0
NAICS               0
MthCalDt            0
MthRet            214
sprtrn              0
dtype: int64

In [6]:
# Manually fill missing values in the CUSIP column
food_data.loc[5731, 'CUSIP'] = '23386010'
food_data.loc[8521, 'CUSIP'] = '08204720'
food_data.loc[18141, 'CUSIP'] = '16965620'

In [7]:
# Look for number of missing values per column
food_data.isna().sum()

PERMNO              0
HdrCUSIP            0
CUSIP               0
Ticker            214
TradingSymbol    1520
PERMCO              0
SICCD               0
NAICS               0
MthCalDt            0
MthRet            214
sprtrn              0
dtype: int64

In [8]:
# Sort the DataFrame per CUSIP then per date
food_data = food_data.sort_values(['CUSIP', 'MthCalDt'], ascending=[True, True]).reset_index(drop=True)

In [9]:
# Manually fill missing values in the MthRet column
food_data.iloc[29:42, 9] = food_data.iloc[29:42, 9].interpolate(method='linear')
food_data.iloc[2807:2835, 9] = food_data.iloc[2807:2835, 9].interpolate(method='linear')
food_data.iloc[4034:4036,9] = food_data.iloc[4034:4036,9].bfill()
food_data.iloc[7017:7020, 9] = food_data.iloc[7017:7020, 9].interpolate(method='linear')
food_data.iloc[8401:8405, 9] = food_data.iloc[8401:8405, 9].interpolate(method='linear')

# Manually drop stocks with only missing values
food_data = food_data[(food_data['CUSIP'] != '60052030') & (food_data['CUSIP'] != '92209910') & (food_data['CUSIP'] != '92209920')]

In [10]:
# Look for number of missing values per column
food_data.isna().sum()

PERMNO              0
HdrCUSIP            0
CUSIP               0
Ticker             42
TradingSymbol    1348
PERMCO              0
SICCD               0
NAICS               0
MthCalDt            0
MthRet              0
sprtrn              0
dtype: int64

In [11]:
# Select only relevant columns
df_food_stocks = food_data[['MthCalDt', 'CUSIP', 'MthRet', 'sprtrn']]

# Rename columns for consistency
columns_names = {'MthCalDt':'Date', 'MthRet':'Stock_return', 'sprtrn':'SP500_return'}
df_food_stocks = df_food_stocks.rename(columns=columns_names)

# Format all dates to the end of month
df_food_stocks['Date'] = df_food_stocks['Date'] + pd.offsets.MonthEnd(0)

# Reset index
df_food_stocks = df_food_stocks.reset_index(drop=True)

df_food_stocks

            Date     CUSIP  Stock_return  SP500_return
0     2001-03-31  00104Q10     -0.055215     -0.064205
1     2001-04-30  00104Q10      0.233766      0.076814
2     2001-05-31  00104Q10     -0.061053      0.005090
3     2001-06-30  00104Q10     -0.141256     -0.025004
4     2001-07-31  00104Q10      0.144125     -0.010772
...          ...       ...           ...           ...
18445 2017-04-30  L0084910     -0.032286      0.009091
18446 2017-05-31  L0084910     -0.008115      0.011576
18447 2017-06-30  L0084910     -0.091818      0.004814
18448 2017-07-31  L0084910      0.018018      0.019349
18449 2017-08-31  L0084910     -0.046214      0.000546

[18450 rows x 4 columns]

In [14]:
# Count total number of stocks
df_food_stocks['CUSIP'].nunique()

248

## Merge with firm characteristics

In [12]:
# df_firm_characteristics = pd.read_csv('df_firm_characteristics.csv')
# df_firm_characteristics['Date'] = pd.to_datetime(df_firm_characteristics['Date'])

# display(df_firm_characteristics)

In [13]:
# food_plus_firm_df = pd.merge(df_food_stocks, df_firm_characteristics, on=['Date', 'CUSIP'], how='left')
# food_plus_firm_df

In [14]:
# food_plus_firm_df.isna().sum()

There is too many missing values so we won't use firm characteristics as predictors.

## Merge with JKP factors

In [15]:
# Load data to a DataFrame
df_jkp_factors = pd.read_csv('df_jkp_factors.csv')

# Convert the date column into a datetime object
df_jkp_factors['Date'] = pd.to_datetime(df_jkp_factors['Date'])

display(df_jkp_factors)

,Date,Firm age,Liquidity of market assets,Amihud Measure,Capital turnover,Change in common equity,Book-to-market equity,Market Beta,Dimson beta,Frazzini-Pedersen market beta,...,"Years 6-10 lagged returns, nonannual",Change in short-term investments,Total accruals,Percent total accruals,Tax expense surprise,Share turnover,Coefficient of variation for share turnover,Number of zero trades with turnover as tiebreaker (6 months),Number of zero trades with turnover as tiebreaker (1 month),Number of zero trades with turnover as tiebreaker (12 months)
0,2000-01-31,0.030254,0.018536,0.058705,-0.040382,0.011158,-0.037480,-0.034381,-0.032390,-0.008134,...,-0.015387,-0.019666,-0.001340,-0.023067,-0.020490,-0.007638,-0.031576,-0.006343,-0.002099,-0.000643
1,2000-02-29,0.259166,0.138305,0.126145,-0.003528,-0.120481,-0.292134,-0.235431,-0.175826,-0.194876,...,-0.099279,-0.054271,0.031784,-0.061379,0.054843,-0.267259,-0.098292,-0.258749,-0.261256,-0.233215
2,2000-03-31,-0.211559,-0.059384,-0.097385,0.068863,0.021303,0.204914,0.099860,-0.014711,0.060482,...,0.033290,0.018439,-0.054041,0.016980,-0.009733,0.132038,0.150523,0.126554,0.115848,0.094000
3,2000-04-30,-0.225892,-0.035645,-0.057125,0.070121,0.057028,0.170982,0.101979,0.107919,0.090560,...,0.038762,-0.003667,-0.059227,-0.005137,-0.018708,0.132768,0.098770,0.128177,0.100690,0.123308
4,2000-05-31,-0.136842,-0.028966,-0.031415,-0.020165,0.102710,0.124502,0.106118,0.182657,0.092235,...,0.048685,-0.019153,-0.009222,0.031111,-0.026389,0.112625,0.054487,0.110061,0.080989,0.103525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2024-08-31,-0.009159,0.018197,-0.035742,-0.008847,0.004118,-0.020158,0.040581,0.022002,0.027188,...,-0.021281,0.005802,-0.001930,0.005331,0.028630,0.028526,-0.004074,0.028476,0.030556,0.031409
296,2024-09-30,0.015388,0.007651,-0.009591,0.003660,0.008696,-0.019773,-0.007516,-0.004131,-0.020857,...,-0.002246,-0.017100,0.010853,0.011034,0.016282,-0.009747,0.005741,-0.009855,-0.015172,-0.011177
297,2024-10-31,0.030176,-0.009476,0.002699,-0.030677,0.002992,-0.004121,-0.001336,-0.011084,-0.003566,...,0.009106,0.005498,-0.003090,0.006834,0.025230,-0.007247,-0.012540,-0.007306,-0.001944,-0.008210
298,2024-11-30,0.055421,-0.021419,0.017654,-0.008216,-0.014642,-0.015056,-0.060866,-0.035839,-0.063759,...,0.028472,0.001373,0.011638,0.013911,0.020192,-0.056217,-0.023397,-0.056044,-0.046449,-0.052747
299,2024-12-31,0.007252,0.011345,-0.000275,-0.002555,0.003847,-0.007924,0.004263,0.022970,0.004363,...,-0.008524,-0.002485,0.005474,0.001703,0.005898,-0.008834,-0.015877,-0.008837,-0.007405,-0.009848

In [16]:
# Merge stock returns with JKP factors
stock_jkp = pd.merge(df_food_stocks, df_jkp_factors, on=['Date'], how='left')
stock_jkp

,Date,CUSIP,Stock_return,SP500_return,Firm age,Liquidity of market assets,Amihud Measure,Capital turnover,Change in common equity,Book-to-market equity,...,"Years 6-10 lagged returns, nonannual",Change in short-term investments,Total accruals,Percent total accruals,Tax expense surprise,Share turnover,Coefficient of variation for share turnover,Number of zero trades with turnover as tiebreaker (6 months),Number of zero trades with turnover as tiebreaker (1 month),Number of zero trades with turnover as tiebreaker (12 months)
0,2001-03-31,00104Q10,-0.055215,-0.064205,-0.125988,-0.107561,0.014505,0.020795,0.104804,0.060397,...,0.017991,-0.019208,-0.050128,-0.024008,-0.009537,0.076959,-0.025256,0.076797,0.071645,0.086046
1,2001-04-30,00104Q10,0.233766,0.076814,0.096961,0.087357,-0.034404,0.028315,-0.128001,-0.046085,...,-0.032983,0.025173,0.031688,0.006301,0.063134,-0.105211,0.030489,-0.105254,-0.107485,-0.110952
2,2001-05-31,00104Q10,-0.061053,0.005090,-0.008261,-0.028349,0.060083,-0.005343,0.045955,0.019742,...,0.019795,0.011646,-0.022842,-0.020761,-0.024294,0.049900,-0.041708,0.049912,0.051340,0.046258
3,2001-06-30,00104Q10,-0.141256,-0.025004,0.018974,-0.000990,0.063378,0.001311,0.016377,0.009544,...,-0.018526,-0.024970,-0.028006,-0.033687,-0.026869,0.035648,-0.031531,0.035765,0.029102,0.037772
4,2001-07-31,00104Q10,0.144125,-0.010772,-0.093722,-0.057890,-0.024871,0.040393,0.071733,0.025219,...,0.020147,-0.004624,0.008363,0.011447,-0.013608,0.057159,0.004059,0.056090,0.054569,0.059667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18445,2017-04-30,L0084910,-0.032286,0.009091,0.002751,0.026440,-0.002014,0.015738,-0.009772,-0.019801,...,-0.002558,0.002173,-0.007400,-0.005213,0.001660,0.011069,-0.006084,0.011076,0.017163,0.012331
18446,2017-05-31,L0084910,-0.008115,0.011576,-0.005747,0.021220,-0.033813,0.014322,-0.014839,-0.038645,...,0.000497,-0.010446,0.014742,0.012390,0.007842,0.014257,0.012561,0.013980,0.014989,0.011098
18447,2017-06-30,L0084910,-0.091818,0.004814,0.011351,-0.009967,0.031091,-0.010969,0.003166,0.018069,...,0.000213,-0.001451,-0.016984,-0.015903,-0.014506,-0.001453,-0.008885,-0.001439,0.006688,-0.001290
18448,2017-07-31,L0084910,0.018018,0.019349,0.001667,-0.015597,-0.008177,-0.016736,-0.001696,0.008383,...,0.007934,-0.004912,-0.004391,0.007165,0.005591,0.011174,0.003641,0.011290,0.005054,0.010356
18449,2017-08-31,L0084910,-0.046214,0.000546,0.009912,0.010065,-0.008392,0.004695,-0.017577,-0.028339,...,-0.000299,-0.000398,0.012727,0.000027,0.013946,0.009584,0.005687,0.009707,0.010241,0.011832

In [17]:
# Look for number of missing values per column
stock_jkp.isna().sum()

Date                                                             0
CUSIP                                                            0
Stock_return                                                     0
SP500_return                                                     0
Firm age                                                         0
                                                                ..
Share turnover                                                   0
Coefficient of variation for share turnover                      0
Number of zero trades with turnover as tiebreaker (6 months)     0
Number of zero trades with turnover as tiebreaker (1 month)      0
Number of zero trades with turnover as tiebreaker (12 months)    0
Length: 134, dtype: int64

In [18]:
# Save data to a csv file
stock_jkp.to_csv('stock_jkp.csv', index=False)

# Merge with sentiment data

In [19]:
# Load data to a DataFrame
sentiment_data = pd.read_csv('sentiment_data.csv')

# Rename columns for consistency
sentiment_data = sentiment_data.rename(columns={'date': 'Date'})

# Convert the date column into a datetime object
sentiment_data['Date'] = pd.to_datetime(sentiment_data['Date'])

sentiment_data

           Date  sentiment
0    2004-08-18   1.000000
1    2004-08-19   1.957746
2    2004-08-20   1.857143
3    2004-08-21   3.500000
4    2004-08-22   3.000000
...         ...        ...
3537 2022-06-13   4.000000
3538 2022-06-14   3.000000
3539 2022-06-15   2.500000
3540 2022-08-22   1.000000
3541 2022-09-19   4.000000

[3542 rows x 2 columns]

In [20]:
# Resample daily sentiment data into monthly sentiment data
monthly_sentiment = sentiment_data.resample('ME', on='Date').mean().reset_index()
monthly_sentiment

          Date  sentiment
0   2004-08-31   2.290768
1   2004-09-30   2.106956
2   2004-10-31   2.359180
3   2004-11-30   2.010845
4   2004-12-31   2.177037
..         ...        ...
213 2022-05-31   3.062500
214 2022-06-30   3.115385
215 2022-07-31        NaN
216 2022-08-31   1.000000
217 2022-09-30   4.000000

[218 rows x 2 columns]

In [21]:
# Look for number of missing values per column
monthly_sentiment.isna().sum()

Date          0
sentiment    46
dtype: int64

In [22]:
# Merge stock returns and JKP factors with sentiment data
stock_jkp_sent = pd.merge(stock_jkp, monthly_sentiment, on=['Date'], how='left')

# Fill missing values with neutral sentiment
stock_jkp_sent = stock_jkp_sent.fillna(3)

stock_jkp_sent

,Date,CUSIP,Stock_return,SP500_return,Firm age,Liquidity of market assets,Amihud Measure,Capital turnover,Change in common equity,Book-to-market equity,...,Change in short-term investments,Total accruals,Percent total accruals,Tax expense surprise,Share turnover,Coefficient of variation for share turnover,Number of zero trades with turnover as tiebreaker (6 months),Number of zero trades with turnover as tiebreaker (1 month),Number of zero trades with turnover as tiebreaker (12 months),sentiment
0,2001-03-31,00104Q10,-0.055215,-0.064205,-0.125988,-0.107561,0.014505,0.020795,0.104804,0.060397,...,-0.019208,-0.050128,-0.024008,-0.009537,0.076959,-0.025256,0.076797,0.071645,0.086046,3.000000
1,2001-04-30,00104Q10,0.233766,0.076814,0.096961,0.087357,-0.034404,0.028315,-0.128001,-0.046085,...,0.025173,0.031688,0.006301,0.063134,-0.105211,0.030489,-0.105254,-0.107485,-0.110952,3.000000
2,2001-05-31,00104Q10,-0.061053,0.005090,-0.008261,-0.028349,0.060083,-0.005343,0.045955,0.019742,...,0.011646,-0.022842,-0.020761,-0.024294,0.049900,-0.041708,0.049912,0.051340,0.046258,3.000000
3,2001-06-30,00104Q10,-0.141256,-0.025004,0.018974,-0.000990,0.063378,0.001311,0.016377,0.009544,...,-0.024970,-0.028006,-0.033687,-0.026869,0.035648,-0.031531,0.035765,0.029102,0.037772,3.000000
4,2001-07-31,00104Q10,0.144125,-0.010772,-0.093722,-0.057890,-0.024871,0.040393,0.071733,0.025219,...,-0.004624,0.008363,0.011447,-0.013608,0.057159,0.004059,0.056090,0.054569,0.059667,3.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18445,2017-04-30,L0084910,-0.032286,0.009091,0.002751,0.026440,-0.002014,0.015738,-0.009772,-0.019801,...,0.002173,-0.007400,-0.005213,0.001660,0.011069,-0.006084,0.011076,0.017163,0.012331,2.932211
18446,2017-05-31,L0084910,-0.008115,0.011576,-0.005747,0.021220,-0.033813,0.014322,-0.014839,-0.038645,...,-0.010446,0.014742,0.012390,0.007842,0.014257,0.012561,0.013980,0.014989,0.011098,2.880731
18447,2017-06-30,L0084910,-0.091818,0.004814,0.011351,-0.009967,0.031091,-0.010969,0.003166,0.018069,...,-0.001451,-0.016984,-0.015903,-0.014506,-0.001453,-0.008885,-0.001439,0.006688,-0.001290,2.832528
18448,2017-07-31,L0084910,0.018018,0.019349,0.001667,-0.015597,-0.008177,-0.016736,-0.001696,0.008383,...,-0.004912,-0.004391,0.007165,0.005591,0.011174,0.003641,0.011290,0.005054,0.010356,2.873399
18449,2017-08-31,L0084910,-0.046214,0.000546,0.009912,0.010065,-0.008392,0.004695,-0.017577,-0.028339,...,-0.000398,0.012727,0.000027,0.013946,0.009584,0.005687,0.009707,0.010241,0.011832,2.796419

In [23]:
# Find columns with missing values and their number of missing values
missing_counts = stock_jkp_sent.isnull().sum()
missing_counts = missing_counts[missing_counts > 0]

for col, count in missing_counts.items():
    print(f"{col}: {count} missing values")

In [24]:
# Save data to a csv file
stock_jkp_sent.to_csv('stock_jkp_sent.csv', index=False)

# Merge with weather data

In [25]:
# Load data to a DataFrame
weather_data = pd.read_csv('weather_data_00_24.csv')

# Rename columns for consistency
weather_data = weather_data.rename(columns={'DATE': 'Date'})

# Convert the date column into a datetime object
weather_data['Date'] = pd.to_datetime(weather_data['Date'])

weather_data

,Date,PRCP_SODAKOTA,SNOW_SODAKOTA,SNWD_SODAKOTA,TMAX_SODAKOTA,TMIN_SODAKOTA,AWND_SODAKOTA,PRCP_INDIANA,SNOW_INDIANA,SNWD_INDIANA,...,SNWD_IOWA,TMAX_IOWA,TMIN_IOWA,AWND_IOWA,PRCP_MINNESOTA,SNOW_MINNESOTA,SNWD_MINNESOTA,TMAX_MINNESOTA,TMIN_MINNESOTA,AWND_MINNESOTA
0,2000-01-01,0.0,0.0,0.0,22.0,-89.0,44.0,0.0,0.0,0.0,...,0.0,72.0,-6.0,27.0,0.0,0.0,0.0,17.0,-44.0,44.0
1,2000-01-02,0.0,0.0,0.0,11.0,-44.0,47.0,3.0,0.0,0.0,...,0.0,72.0,0.0,47.0,10.0,13.0,0.0,17.0,-17.0,51.0
2,2000-01-03,0.0,5.0,0.0,-11.0,-139.0,69.0,155.0,0.0,0.0,...,0.0,6.0,-44.0,54.0,0.0,0.0,0.0,-17.0,-44.0,47.0
3,2000-01-04,0.0,3.0,0.0,-83.0,-189.0,51.0,0.0,10.0,0.0,...,25.0,-44.0,-128.0,63.0,8.0,8.0,0.0,-39.0,-117.0,46.0
4,2000-01-05,3.0,3.0,0.0,6.0,-106.0,46.0,0.0,3.0,25.0,...,0.0,22.0,-128.0,55.0,43.0,43.0,0.0,-11.0,-122.0,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9127,2024-12-27,0.0,0.0,0.0,78.0,-21.0,26.0,41.0,0.0,0.0,...,0.0,83.0,61.0,33.0,157.0,0.0,50.0,44.0,11.0,28.0
9128,2024-12-28,0.0,0.0,0.0,111.0,-60.0,13.0,8.0,0.0,0.0,...,0.0,89.0,17.0,26.0,30.0,0.0,0.0,83.0,0.0,30.0
9129,2024-12-29,0.0,0.0,0.0,128.0,-43.0,15.0,226.0,0.0,0.0,...,0.0,44.0,22.0,29.0,0.0,0.0,0.0,28.0,-5.0,21.0
9130,2024-12-30,112.0,0.0,0.0,33.0,-55.0,36.0,0.0,0.0,0.0,...,0.0,39.0,6.0,38.0,0.0,0.0,0.0,0.0,-10.0,21.0
9131,2024-12-31,0.0,0.0,0.0,11.0,-32.0,72.0,224.0,0.0,0.0,...,30.0,11.0,-16.0,67.0,0.0,0.0,0.0,0.0,-38.0,62.0

In [26]:
# Find columns with missing values and their number of missing values
missing_counts = weather_data.isnull().sum()
missing_counts = missing_counts[missing_counts > 0]

for col, count in missing_counts.items():
    print(f"{col}: {count} missing values")

In [27]:
# Resample daily weather data into monthly weather data
monthly_weather = weather_data.resample('ME', on='Date').mean().reset_index()
monthly_weather

,Date,PRCP_SODAKOTA,SNOW_SODAKOTA,SNWD_SODAKOTA,TMAX_SODAKOTA,TMIN_SODAKOTA,AWND_SODAKOTA,PRCP_INDIANA,SNOW_INDIANA,SNWD_INDIANA,...,SNWD_IOWA,TMAX_IOWA,TMIN_IOWA,AWND_IOWA,PRCP_MINNESOTA,SNOW_MINNESOTA,SNWD_MINNESOTA,TMAX_MINNESOTA,TMIN_MINNESOTA,AWND_MINNESOTA
0,2000-01-31,5.612903,4.935484,34.387097,-15.870968,-147.032258,39.935484,10.290323,10.225806,70.387097,...,12.258065,11.548387,-85.096774,45.193548,7.419355,14.967742,124.580645,-42.290323,-136.935484,39.903226
1,2000-02-29,9.137931,1.068966,14.827586,51.034483,-69.103448,46.103448,13.793103,2.206897,52.482759,...,20.137931,73.206897,-23.344828,49.758621,9.482759,6.689655,139.103448,22.965517,-69.241379,42.172414
2,2000-03-31,7.451613,2.225806,1.645161,115.774194,-34.193548,42.225806,16.548387,7.483871,11.483871,...,0.806452,134.806452,10.322581,45.322581,9.129032,0.838710,0.806452,103.064516,-2.193548,40.322581
3,2000-04-30,19.200000,4.766667,0.833333,145.900000,8.700000,54.200000,17.700000,0.333333,0.000000,...,1.700000,178.633333,42.866667,47.500000,9.500000,1.100000,0.000000,136.233333,27.066667,47.866667
4,2000-05-31,45.612903,0.000000,0.000000,220.064516,81.709677,50.290323,38.000000,0.000000,0.000000,...,0.000000,243.129032,121.129032,43.709677,37.451613,0.000000,0.000000,212.935484,107.870968,47.903226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2024-08-31,18.000000,0.000000,0.000000,277.741935,161.903226,38.096774,16.064516,0.000000,0.000000,...,0.000000,290.870968,186.548387,35.387097,44.096774,0.000000,0.000000,267.516129,171.548387,35.806452
296,2024-09-30,0.366667,0.000000,0.000000,278.866667,129.300000,41.633333,12.033333,0.000000,0.000000,...,0.000000,279.500000,152.733333,32.300000,0.533333,0.000000,0.000000,271.100000,155.266667,36.700000
297,2024-10-31,4.354839,0.000000,0.000000,210.354839,53.838710,42.516129,3.516129,0.000000,0.000000,...,0.000000,225.258065,85.903226,43.161290,14.258065,0.161290,0.000000,200.870968,81.774194,42.516129
298,2024-11-30,17.933333,0.866667,0.000000,84.033333,-20.500000,43.233333,18.533333,0.600000,0.000000,...,0.000000,103.733333,13.666667,43.933333,16.466667,0.766667,0.000000,68.766667,4.233333,43.400000
299,2024-12-31,5.483871,2.838710,6.774194,15.774194,-83.000000,42.322581,31.387097,1.935484,0.000000,...,2.903226,34.161290,-46.096774,45.709677,10.419355,5.741935,29.677419,-6.580645,-72.806452,42.483871

In [29]:
# Merge stock returns, JKP factors, and sentiment data with weather data
stock_jkp_sent_weather = pd.merge(stock_jkp_sent, monthly_weather, on=['Date'], how='left')

stock_jkp_sent_weather

,Date,CUSIP,Stock_return,SP500_return,Firm age,Liquidity of market assets,Amihud Measure,Capital turnover,Change in common equity,Book-to-market equity,...,SNWD_IOWA,TMAX_IOWA,TMIN_IOWA,AWND_IOWA,PRCP_MINNESOTA,SNOW_MINNESOTA,SNWD_MINNESOTA,TMAX_MINNESOTA,TMIN_MINNESOTA,AWND_MINNESOTA
0,2001-03-31,00104Q10,-0.055215,-0.064205,-0.125988,-0.107561,0.014505,0.020795,0.104804,0.060397,...,29.387097,41.774194,-39.290323,42.290323,8.935484,0.000000,240.135802,18.225806,-69.000000,39.000000
1,2001-04-30,00104Q10,0.233766,0.076814,0.096961,0.087357,-0.034404,0.028315,-0.128001,-0.046085,...,0.000000,202.033333,66.766667,57.633333,59.333333,0.000000,54.462963,142.900000,38.966667,52.766667
2,2001-05-31,00104Q10,-0.061053,0.005090,-0.008261,-0.028349,0.060083,-0.005343,0.045955,0.019742,...,0.000000,215.064516,115.193548,48.741935,37.064516,0.000000,60.864198,201.935484,105.258065,42.645161
3,2001-06-30,00104Q10,-0.141256,-0.025004,0.018974,-0.000990,0.063378,0.001311,0.016377,0.009544,...,0.000000,268.166667,160.166667,40.366667,53.766667,0.000000,67.265432,257.233333,154.900000,41.100000
4,2001-07-31,00104Q10,0.144125,-0.010772,-0.093722,-0.057890,-0.024871,0.040393,0.071733,0.025219,...,0.000000,305.903226,204.516129,36.838710,17.322581,0.000000,73.666667,297.677419,189.774194,39.064516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18445,2017-04-30,L0084910,-0.032286,0.009091,0.002751,0.026440,-0.002014,0.015738,-0.009772,-0.019801,...,0.000000,183.100000,76.266667,47.966667,37.666667,0.433333,1.000000,151.700000,53.500000,43.933333
18446,2017-05-31,L0084910,-0.008115,0.011576,-0.005747,0.021220,-0.033813,0.014322,-0.014839,-0.038645,...,0.000000,232.258065,111.354839,44.935484,39.419355,0.000000,0.000000,198.451613,96.258065,42.870968
18447,2017-06-30,L0084910,-0.091818,0.004814,0.011351,-0.009967,0.031091,-0.010969,0.003166,0.018069,...,0.000000,302.933333,174.066667,43.300000,35.833333,0.000000,0.000000,274.000000,163.066667,42.366667
18448,2017-07-31,L0084910,0.018018,0.019349,0.001667,-0.015597,-0.008177,-0.016736,-0.001696,0.008383,...,0.000000,320.806452,208.806452,34.677419,25.580645,0.000000,0.000000,293.322581,188.000000,33.709677
18449,2017-08-31,L0084910,-0.046214,0.000546,0.009912,0.010065,-0.008392,0.004695,-0.017577,-0.028339,...,0.000000,282.258065,164.741935,32.129032,55.387097,0.000000,0.000000,250.225806,157.677419,34.838710

In [30]:
# Find columns with missing values and their number of missing values
missing_counts = stock_jkp_sent_weather.isnull().sum()
missing_counts = missing_counts[missing_counts > 0]

for col, count in missing_counts.items():
    print(f"{col}: {count} missing values")

In [31]:
# Save data to a csv file
stock_jkp_sent_weather.to_csv('stock_jkp_sent_weather.csv', index=False)

# Final modifications for the data to be used in the model

In [32]:
# Load data to a DataFrame
total_data = pd.read_csv('stock_jkp_sent_weather.csv')

# Convert the date column into a datetime object
total_data['Date'] = pd.to_datetime(total_data['Date'], format='%Y-%m-%d')

In [33]:
# Filter data for right time range
total_data = total_data[(total_data['Date'] >= '2000-01-01') & (total_data['Date'] <= '2024-12-31')]

In [34]:
# Add a time index
min_date = total_data['Date'].min()
total_data['time_idx'] = (total_data['Date'].dt.year - min_date.year) * 12 + (total_data['Date'].dt.month - min_date.month)
total_data

,Date,CUSIP,Stock_return,SP500_return,Firm age,Liquidity of market assets,Amihud Measure,Capital turnover,Change in common equity,Book-to-market equity,...,TMAX_IOWA,TMIN_IOWA,AWND_IOWA,PRCP_MINNESOTA,SNOW_MINNESOTA,SNWD_MINNESOTA,TMAX_MINNESOTA,TMIN_MINNESOTA,AWND_MINNESOTA,time_idx
0,2001-03-31,00104Q10,-0.055215,-0.064205,-0.125988,-0.107561,0.014505,0.020795,0.104804,0.060397,...,41.774194,-39.290323,42.290323,8.935484,0.000000,240.135802,18.225806,-69.000000,39.000000,14
1,2001-04-30,00104Q10,0.233766,0.076814,0.096961,0.087357,-0.034404,0.028315,-0.128001,-0.046085,...,202.033333,66.766667,57.633333,59.333333,0.000000,54.462963,142.900000,38.966667,52.766667,15
2,2001-05-31,00104Q10,-0.061053,0.005090,-0.008261,-0.028349,0.060083,-0.005343,0.045955,0.019742,...,215.064516,115.193548,48.741935,37.064516,0.000000,60.864198,201.935484,105.258065,42.645161,16
3,2001-06-30,00104Q10,-0.141256,-0.025004,0.018974,-0.000990,0.063378,0.001311,0.016377,0.009544,...,268.166667,160.166667,40.366667,53.766667,0.000000,67.265432,257.233333,154.900000,41.100000,17
4,2001-07-31,00104Q10,0.144125,-0.010772,-0.093722,-0.057890,-0.024871,0.040393,0.071733,0.025219,...,305.903226,204.516129,36.838710,17.322581,0.000000,73.666667,297.677419,189.774194,39.064516,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18445,2017-04-30,L0084910,-0.032286,0.009091,0.002751,0.026440,-0.002014,0.015738,-0.009772,-0.019801,...,183.100000,76.266667,47.966667,37.666667,0.433333,1.000000,151.700000,53.500000,43.933333,207
18446,2017-05-31,L0084910,-0.008115,0.011576,-0.005747,0.021220,-0.033813,0.014322,-0.014839,-0.038645,...,232.258065,111.354839,44.935484,39.419355,0.000000,0.000000,198.451613,96.258065,42.870968,208
18447,2017-06-30,L0084910,-0.091818,0.004814,0.011351,-0.009967,0.031091,-0.010969,0.003166,0.018069,...,302.933333,174.066667,43.300000,35.833333,0.000000,0.000000,274.000000,163.066667,42.366667,209
18448,2017-07-31,L0084910,0.018018,0.019349,0.001667,-0.015597,-0.008177,-0.016736,-0.001696,0.008383,...,320.806452,208.806452,34.677419,25.580645,0.000000,0.000000,293.322581,188.000000,33.709677,210
18449,2017-08-31,L0084910,-0.046214,0.000546,0.009912,0.010065,-0.008392,0.004695,-0.017577,-0.028339,...,282.258065,164.741935,32.129032,55.387097,0.000000,0.000000,250.225806,157.677419,34.838710,211

In [35]:
# Drop duplicates in the CUSIP and Date columns
total_data = total_data.drop_duplicates(subset=['CUSIP', 'Date'])
print(total_data.shape)

(18426, 178)

There were 24 duplicates.

In [36]:
def longest_consecutive_run(group):
    """
    Identifies and extracts the longest sequence of consecutive time indices within a group.
    :param group: A pandas DataFrame containing a 'time_idx' column and representing a grouped subset
    :return: A DataFrame containing the longest consecutive run of 'time_idx' values (length >= 75), or an empty DataFrame if no such run exists.
    """

    # Sort the group by 'time_idx' and reset the index
    sorted_idx = group['time_idx'].sort_values().reset_index()
    # Compute the difference between consecutive 'time_idx' values and check if difference is exactly 1
    diffs = sorted_idx['time_idx'].diff().fillna(1) == 1

    # Store the (start_index, end_index) of each run of consecutive values
    runs = []
    run_start = 0

    # Iterate through the diffs to identify consecutive runs
    for i in range(1, len(diffs)):
        if not diffs[i]:
            # If the streak breaks, store the run and start a new one
            runs.append((run_start, i - 1))
            run_start = i
    # Add the last run after the loop
    runs.append((run_start, len(diffs) - 1))  # add last run

    # Find longest run
    longest_run = max(runs, key=lambda x: x[1] - x[0])
    run_length = longest_run[1] - longest_run[0] + 1

    if run_length >= 75:
        # If the longest run is long enough, extract corresponding original indices
        idx_to_keep = sorted_idx.loc[longest_run[0]:longest_run[1], 'index']
        return group.loc[idx_to_keep]
    else:
        return group.iloc[0:0] # If no run is long enough, return empty DataFrame

# filter data for the longest run of each stock
final_data = total_data.groupby('CUSIP').apply(longest_consecutive_run).reset_index(drop=True)

print(final_data.shape)

(14023, 178)

/var/folders/n1/8hqtjysn6q53386vd7820m500000gn/T/ipykernel_89986/225860137.py:24: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  final_data = total_data.groupby('CUSIP').apply(longest_consecutive_run).reset_index(drop=True)

In [37]:
# Find columns with missing values and their number of missing values
missing_counts = final_data.isnull().sum()
missing_counts = missing_counts[missing_counts > 0]

for col, count in missing_counts.items():
    print(f"{col}: {count} missing values")

In [38]:
final_data

,Date,CUSIP,Stock_return,SP500_return,Firm age,Liquidity of market assets,Amihud Measure,Capital turnover,Change in common equity,Book-to-market equity,...,TMAX_IOWA,TMIN_IOWA,AWND_IOWA,PRCP_MINNESOTA,SNOW_MINNESOTA,SNWD_MINNESOTA,TMAX_MINNESOTA,TMIN_MINNESOTA,AWND_MINNESOTA,time_idx
0,2001-03-31,00104Q10,-0.055215,-0.064205,-0.125988,-0.107561,0.014505,0.020795,0.104804,0.060397,...,41.774194,-39.290323,42.290323,8.935484,0.000000,240.135802,18.225806,-69.000000,39.000000,14
1,2001-04-30,00104Q10,0.233766,0.076814,0.096961,0.087357,-0.034404,0.028315,-0.128001,-0.046085,...,202.033333,66.766667,57.633333,59.333333,0.000000,54.462963,142.900000,38.966667,52.766667,15
2,2001-05-31,00104Q10,-0.061053,0.005090,-0.008261,-0.028349,0.060083,-0.005343,0.045955,0.019742,...,215.064516,115.193548,48.741935,37.064516,0.000000,60.864198,201.935484,105.258065,42.645161,16
3,2001-06-30,00104Q10,-0.141256,-0.025004,0.018974,-0.000990,0.063378,0.001311,0.016377,0.009544,...,268.166667,160.166667,40.366667,53.766667,0.000000,67.265432,257.233333,154.900000,41.100000,17
4,2001-07-31,00104Q10,0.144125,-0.010772,-0.093722,-0.057890,-0.024871,0.040393,0.071733,0.025219,...,305.903226,204.516129,36.838710,17.322581,0.000000,73.666667,297.677419,189.774194,39.064516,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14018,2017-04-30,L0084910,-0.032286,0.009091,0.002751,0.026440,-0.002014,0.015738,-0.009772,-0.019801,...,183.100000,76.266667,47.966667,37.666667,0.433333,1.000000,151.700000,53.500000,43.933333,207
14019,2017-05-31,L0084910,-0.008115,0.011576,-0.005747,0.021220,-0.033813,0.014322,-0.014839,-0.038645,...,232.258065,111.354839,44.935484,39.419355,0.000000,0.000000,198.451613,96.258065,42.870968,208
14020,2017-06-30,L0084910,-0.091818,0.004814,0.011351,-0.009967,0.031091,-0.010969,0.003166,0.018069,...,302.933333,174.066667,43.300000,35.833333,0.000000,0.000000,274.000000,163.066667,42.366667,209
14021,2017-07-31,L0084910,0.018018,0.019349,0.001667,-0.015597,-0.008177,-0.016736,-0.001696,0.008383,...,320.806452,208.806452,34.677419,25.580645,0.000000,0.000000,293.322581,188.000000,33.709677,210
14022,2017-08-31,L0084910,-0.046214,0.000546,0.009912,0.010065,-0.008392,0.004695,-0.017577,-0.028339,...,282.258065,164.741935,32.129032,55.387097,0.000000,0.000000,250.225806,157.677419,34.838710,211

In [39]:
# Sort the DataFrame per CUSIP then per date
final_data = final_data.sort_values(['CUSIP', 'Date'], ascending=[True, True]).reset_index(drop=True)

In [40]:
# Save data to a csv file
final_data.to_csv('final_data_non-normalized.csv', index=False)

In [41]:
# Extract a list of time varying columns for the model
list(final_data.columns[2:-1])

['Stock_return',
 'SP500_return',
 'Firm age',
 'Liquidity of market assets',
 'Amihud Measure',
 'Capital turnover',
 'Change in common equity',
 'Book-to-market equity',
 'Market Beta',
 'Dimson beta',
 'Frazzini-Pedersen market beta',
 'Downside beta',
 'The high-low bid-ask spread',
 'Abnormal corporate investment',
 'CAPEX growth (1 year)',
 'CAPEX growth (3 years)',
 'Cash-to-assets',
 'Net stock issues',
 'Change in current operating assets',
 'Change in current operating liabilities',
 'Cash-based operating profits-to-book assets',
 'Cash-based operating profits-to-lagged book assets',
 'Market correlation',
 'Coskewness',
 'Change in current operating working capital',
 'Net debt issuance',
 'Growth in book debt (3 years)',
 'Change gross margin minus change sales',
 'Dividend yield',
 'Dollar trading volume',
 'Change sales minus change Inventory',
 'Change sales minus change receivables',
 'Change sales minus change SG&A',
 'Earnings variability',
 'Profit margin',
 'Ebitda-to-market enterprise value',
 'Hiring rate',
 'Equity net payout',
 'Payout yield',
 'Pitroski F-score',
 'Free cash flow-to-price',
 'Change in financial liabilities',
 'Gross profits-to-assets',
 'Gross profits-to-lagged assets',
 'Inventory growth',
 'Inventory change',
 'Idiosyncratic skewness from the CAPM',
 'Idiosyncratic skewness from the Fama-French 3-factor model',
 'Idiosyncratic skewness from the q-factor model',
 'Intrinsic value-to-market',
 'Idiosyncratic volatility from the CAPM (21 days)',
 'Idiosyncratic volatility from the CAPM (252 days)',
 'Idiosyncratic volatility from the Fama-French 3-factor model',
 'Idiosyncratic volatility from the q-factor model',
 'Kaplan-Zingales index',
 'Change in long-term net operating assets',
 'Change in long-term investments',
 'Market Equity',
 'Mispricing factor: Management',
 'Mispricing factor: Performance',
 'Change in noncurrent operating assets',
 'Net total issuance',
 'Change in net financial assets',
 'Earnings persistence',
 'Return on equity',
 'Number of consecutive quarters with earnings increases',
 'Earnings volatility',
 'Earnings-to-price',
 'Quarterly return on assets',
 'Quarterly return on equity',
 'Standardized earnings surprise',
 'Change in net noncurrent operating assets',
 'Net operating assets',
 'Change in net operating assets',
 'Ohlson O-score',
 'Operating accruals',
 'Percent operating accruals',
 'Operating cash flow to assets',
 'Change in operating cash flow to assets',
 'Operating cash flow-to-market',
 'Cash flow volatility',
 'Operating profits-to-book assets',
 'Operating profits-to-lagged book assets',
 'Operating profits-to-book equity',
 'Operating profits-to-lagged book equity',
 'Operating leverage',
 'Taxable income-to-book income',
 'Change PPE and Inventory',
 'Price per share',
 'Current price to high price over last year',
 'Quality minus Junk: Composite',
 'Quality minus Junk: Growth',
 'Quality minus Junk: Profitability',
 'Quality minus Junk: Safety',
 'R&D-to-market',
 'R&D-to-sales',
 'Residual momentum t-12 to t-1',
 'Residual momentum t-6 to t-1',
 'Price momentum t-12 to t-1',
 'Price momentum t-12 to t-7',
 'Short-term reversal',
 'Long-term reversal',
 'Price momentum t-6 to t-1',
 'Price momentum t-9 to t-1',
 'Maximum daily return',
 'Highest 5 days of return',
 'Highest 5 days of return scaled by volatility',
 'Total skewness',
 'Asset turnover',
 'Labor force efficiency',
 'Sales Growth (1 year)',
 'Sales Growth (3 years)',
 'Standardized Revenue surprise',
 'Years 11-15 lagged returns, annual',
 'Years 11-15 lagged returns, nonannual',
 'Years 16-20 lagged returns, annual',
 'Years 16-20 lagged returns, nonannual',
 'Year 1-lagged return, annual',
 'Year 1-lagged return, nonannual',
 'Years 2-5 lagged returns, annual',
 'Years 2-5 lagged returns, nonannual',
 'Years 6-10 lagged returns, annual',
 'Years 6-10 lagged returns, nonannual',
 'Change in short-term investments',
 'Total accruals',
 'Percent total accruals',
 'Tax expense surprise',
 'Share turnover',
 'Coefficient of variation for share turnover',
 'Number of zero trades with turnover as tiebreaker (6 months)',
 'Number of zero trades with turnover as tiebreaker (1 month)',
 'Number of zero trades with turnover as tiebreaker (12 months)',
 'sentiment',
 'PRCP_SODAKOTA',
 'SNOW_SODAKOTA',
 'SNWD_SODAKOTA',
 'TMAX_SODAKOTA',
 'TMIN_SODAKOTA',
 'AWND_SODAKOTA',
 'PRCP_INDIANA',
 'SNOW_INDIANA',
 'SNWD_INDIANA',
 'TMAX_INDIANA',
 'TMIN_INDIANA',
 'AWND_INDIANA',
 'PRCP_ILLINOIS',
 'SNOW_ILLINOIS',
 'SNWD_ILLINOIS',
 'TMAX_ILLINOIS',
 'TMIN_ILLINOIS',
 'AWND_ILLINOIS',
 'PRCP_KANSAS',
 'SNOW_KANSAS',
 'SNWD_KANSAS',
 'TMAX_KANSAS',
 'TMIN_KANSAS',
 'AWND_KANSAS',
 'PRCP_NEBRASKA',
 'SNOW_NEBRASKA',
 'SNWD_NEBRASKA',
 'TMAX_NEBRASKA',
 'TMIN_NEBRASKA',
 'AWND_NEBRASKA',
 'PRCP_IOWA',
 'SNOW_IOWA',
 'SNWD_IOWA',
 'TMAX_IOWA',
 'TMIN_IOWA',
 'AWND_IOWA',
 'PRCP_MINNESOTA',
 'SNOW_MINNESOTA',
 'SNWD_MINNESOTA',
 'TMAX_MINNESOTA',
 'TMIN_MINNESOTA',
 'AWND_MINNESOTA']

## Reduced dataset

In [42]:
# List of non-important features determined by the regression
not_important_features = ['AWND_INDIANA', 'Hiring rate', 'Highest 5 days of return', 'Asset turnover', 'Years 6-10 lagged returns, nonannual', 'Net debt issuance', 'Operating profits-to-book assets', 'Pitroski F-score', 'Net operating assets', 'Change in long-term investments', 'Downside beta', 'Tax expense surprise', 'Change in current operating liabilities', 'R&D-to-market', 'SNOW_KANSAS', 'Taxable income-to-book income', 'Quality minus Junk: Composite', 'Operating cash flow to assets', 'Residual momentum t-12 to t-1', 'Growth in book debt (3 years)', 'Operating profits-to-lagged book equity', 'SNOW_IOWA', 'Market Beta', 'SNWD_ILLINOIS', 'Change in net operating assets', 'SNOW_INDIANA', 'Change in noncurrent operating assets', 'Price momentum t-12 to t-7', 'SNWD_INDIANA', 'SNWD_KANSAS', 'Change PPE and Inventory', 'SNOW_MINNESOTA', 'Change in current operating working capital', 'Years 2-5 lagged returns, annual', 'AWND_MINNESOTA', 'Standardized earnings surprise', 'PRCP_IOWA', 'Change gross margin minus change sales', 'Market correlation', 'AWND_IOWA', 'sentiment', 'AWND_NEBRASKA', 'Idiosyncratic skewness from the q-factor model', 'PRCP_INDIANA', 'Years 6-10 lagged returns, annual', 'SNOW_SODAKOTA', 'Change in financial liabilities', 'SNOW_ILLINOIS', 'Labor force efficiency', 'SNWD_NEBRASKA', 'Sales Growth (3 years)', 'AWND_KANSAS', 'PRCP_NEBRASKA', 'Residual momentum t-6 to t-1', 'PRCP_MINNESOTA', 'TMIN_ILLINOIS', 'Idiosyncratic skewness from the Fama-French 3-factor model', 'TMAX_ILLINOIS', 'PRCP_ILLINOIS', 'Total skewness', 'Abnormal corporate investment', 'Highest 5 days of return scaled by volatility', 'SNWD_MINNESOTA', 'Inventory change', 'SNOW_NEBRASKA', 'Net total issuance', 'AWND_SODAKOTA', 'Change in operating cash flow to assets', 'Profit margin', 'Years 16-20 lagged returns, annual', 'Market Equity', 'Change sales minus change SG&A', 'PRCP_KANSAS', 'Number of consecutive quarters with earnings increases', 'SNWD_SODAKOTA', 'Standardized Revenue surprise', 'Years 11-15 lagged returns, annual', 'Quality minus Junk: Growth', 'Earnings persistence', 'Cash flow volatility', 'Coefficient of variation for share turnover', 'Price momentum t-6 to t-1', 'Idiosyncratic skewness from the CAPM', 'PRCP_SODAKOTA', 'Coskewness', 'Year 1-lagged return, annual', 'CAPEX growth (3 years)', 'The high-low bid-ask spread', 'Years 16-20 lagged returns, nonannual', 'Gross profits-to-assets', 'Years 11-15 lagged returns, nonannual', 'Percent total accruals', 'Change in short-term investments']

In [43]:
# Drop non-important features
final_data_reduced = final_data.drop(columns=not_important_features)
final_data_reduced.shape

(14023, 85)

In [44]:
# Save data to a csv file
final_data_reduced.to_csv('final_data_reduced_non-normalized.csv', index=False)

In [45]:
# Extract a list of time varying columns for the model
l = list(final_data_reduced.columns[2:-1])
l

['Stock_return',
 'SP500_return',
 'Firm age',
 'Liquidity of market assets',
 'Amihud Measure',
 'Capital turnover',
 'Change in common equity',
 'Book-to-market equity',
 'Dimson beta',
 'Frazzini-Pedersen market beta',
 'CAPEX growth (1 year)',
 'Cash-to-assets',
 'Net stock issues',
 'Change in current operating assets',
 'Cash-based operating profits-to-book assets',
 'Cash-based operating profits-to-lagged book assets',
 'Dividend yield',
 'Dollar trading volume',
 'Change sales minus change Inventory',
 'Change sales minus change receivables',
 'Earnings variability',
 'Ebitda-to-market enterprise value',
 'Equity net payout',
 'Payout yield',
 'Free cash flow-to-price',
 'Gross profits-to-lagged assets',
 'Inventory growth',
 'Intrinsic value-to-market',
 'Idiosyncratic volatility from the CAPM (21 days)',
 'Idiosyncratic volatility from the CAPM (252 days)',
 'Idiosyncratic volatility from the Fama-French 3-factor model',
 'Idiosyncratic volatility from the q-factor model',
 'Kaplan-Zingales index',
 'Change in long-term net operating assets',
 'Mispricing factor: Management',
 'Mispricing factor: Performance',
 'Change in net financial assets',
 'Return on equity',
 'Earnings volatility',
 'Earnings-to-price',
 'Quarterly return on assets',
 'Quarterly return on equity',
 'Change in net noncurrent operating assets',
 'Ohlson O-score',
 'Operating accruals',
 'Percent operating accruals',
 'Operating cash flow-to-market',
 'Operating profits-to-lagged book assets',
 'Operating profits-to-book equity',
 'Operating leverage',
 'Price per share',
 'Current price to high price over last year',
 'Quality minus Junk: Profitability',
 'Quality minus Junk: Safety',
 'R&D-to-sales',
 'Price momentum t-12 to t-1',
 'Short-term reversal',
 'Long-term reversal',
 'Price momentum t-9 to t-1',
 'Maximum daily return',
 'Sales Growth (1 year)',
 'Year 1-lagged return, nonannual',
 'Years 2-5 lagged returns, nonannual',
 'Total accruals',
 'Share turnover',
 'Number of zero trades with turnover as tiebreaker (6 months)',
 'Number of zero trades with turnover as tiebreaker (1 month)',
 'Number of zero trades with turnover as tiebreaker (12 months)',
 'TMAX_SODAKOTA',
 'TMIN_SODAKOTA',
 'TMAX_INDIANA',
 'TMIN_INDIANA',
 'AWND_ILLINOIS',
 'TMAX_KANSAS',
 'TMIN_KANSAS',
 'TMAX_NEBRASKA',
 'TMIN_NEBRASKA',
 'SNWD_IOWA',
 'TMAX_IOWA',
 'TMIN_IOWA',
 'TMAX_MINNESOTA',
 'TMIN_MINNESOTA']

In [46]:
print(len(l))

82